.login-page .page-header:before, .profile-page .page-header:before {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.h1-result {
  font-size: 2.8em;
  text-transform: uppercase;
  font-weight: 500;
  display: block;
  align-items: center

}

.ml-auto, .mx-auto {
  margin-left: auto!important;
}

.mr-auto, .mx-auto {
  margin-right: auto!important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}


.input-group, .form-group {
  margin-bottom: 10px;
  position: relative;
}

.page-header .category, .page-header .description {
  color: #f96332;
}

.result {
  color: #f96332;
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
}





.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0,0,0,0);
  border-top: 1px solid rgba(0,0,0,0);
}

.form-check-radio input[type="radio"]:checked+.form-check-sign::after {
  width: 8;
  height: 8;
  background-color: #f96332;
  border-color: #555555;
  top: 9;
  left: 9;
  opacity: 1;
}


.btn{
  border-width: 2px;
  font-weight: 400;
  font-size: 0.8571em;
  line-height: 1.35em;
  margin: 2px 2px;
  border: none;
  border-radius: 0.1875rem;
  padding: 10px 10px;
  cursor: pointer;
  background-color: #f96332;
  color: #FFFFFF;
}

.btn:hover,
.btn:focus,
.btn:not(:disabled):not(.disabled):active,
.btn:not(:disabled):not(.disabled):active:focus,
.btn:active:hover {
  background-color: #f96332;
  color: #FFFFFF;
  box-shadow: none;
}

.btn-danger {
  background-color: #f96332;
  color: #FFFFFF;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:not(:disabled):not(.disabled):active,
.btn-outline:not(:disabled):not(.disabled):active:focus,
.btn-outline:active:hover {
  background-color: #f96332;
  color: #FFFFFF;
  box-shadow: none;
}


.btn:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
}

.btn:disabled,
.btn:disabled:hover,
.btn:disabled:focus,
.btn:disabled:active,
.btn[disabled],
.btn[disabled]:hover,
.btn[disabled]:focus,
.btn[disabled]:active{
  background-color: #f96332;
  border-color: #FFFFFF;
}

.btn:hover,
.btn:focus{
  opacity: 50;
  filter: alpha(opacity=100);
  outline: 0 !important;
}

.btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
}

.btn:not(.btn-icon) .now-ui-icons,
.navbar .navbar-nav>a.btn:not(.btn-icon) .now-ui-icons {
  position: relative;
  top: 1px;
}

.btn-primary {
  background-color: #f96332;
  color: #FFFFFF;
}

.col-md-10 {
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:active:hover {
  background-color: #fa7a50;
  color: #FFFFFF;
  box-shadow: none;
}

.btn-primary:hover {
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.17);
}

.btn-primary:disabled,
.btn-primary:disabled:hover,
.btn-primary:disabled:focus,
.btn-primary:disabled:active,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:active {
  background-color: #f96332;
  border-color: #f96332;
}

.btn-round {
  border-width: 1px;
  border-radius: 30px !important;
  padding: 0px 0px;
}

.btn-lg {
  font-size: 1em;
  border-radius: 0.25rem;
  padding: 15px 48px;
}


::after, ::before {
  padding: 10 px 10 px;
  margin: 2px 2px;

}

.form-control::-moz-placeholder {
  color: #f96332;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.form-control:-moz-placeholder {
  color: #f96332;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.form-control::-webkit-input-placeholder {
  color: #f96332;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.form-control:-ms-input-placeholder {
  color: #f96332;
  opacity: 0.8;
  filter: alpha(opacity=80);
}


.form-control:focus {
  border: 1px solid #f96332 !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0 !important;
  color: #2c2c2c;
}




.form-control:focus+.input-group-text,
.form-control:focus~.input-group-text {
  border: 1px solid #f96332;
  border-left: none;
  background-color: #2c2c2c;
}

.input-group.no-border.input-lg .input-group-text {
  padding: 15px 0 15px 19px;
}

.input-group.no-border.input-lg .form-control {
  padding: 0px 19px !important;
}

.input-group.no-border.input-lg .form-control+.input-group-text {
  padding: 15px 19px 15px 0;
}

.input-group.input-lg .form-control {
  padding: 14px 18px;
}

.input-group.input-lg .form-control+.input-group-text {
  padding: 14px 18px 14px 0;
}

.input-group.input-lg .input-group-text {
  padding: 14px 0 15px 18px;
}

.input-group.input-lg .input-group-text+.form-control {
  padding: 15px 18px 15px 16px;
}

.input-group.no-border .form-control {
  padding: 11px 19px;
}

.input-group.no-border .form-control+.input-group-text {
  padding: 11px 19px 11px 0;
}

.input-group.no-border .input-group-text {
  padding: 11px 0 11px 19px;
}

.input-group .form-control {
  padding: 10px 18px 10px 18px;
}

.input-group .form-control+.input-group-text {
  padding: 10px 18px 10px 0;
}

.input-group .input-group-text {
  padding: 10px 0 10px 18px;
}

.input-group .input-group-text+.form-control,
.input-group .input-group-text~.form-control {
  padding: 10px 19px 11px 16px;
}

.input-group.no-border .form-control,
.input-group.no-border .form-control+.input-group-text {
  background-color: #f96332(222, 222, 222, 0.3);
  border: medium none;
}

.input-group.no-border .form-control:focus,
.input-group.no-border .form-control:active,
.input-group.no-border .form-control:active,
.input-group.no-border .form-control+.input-group-text:focus,
.input-group.no-border .form-control+.input-group-text:active,
.input-group.no-border .form-control+.input-group-text:active {
  border: medium none;
  background-color: #f96332(222, 222, 222, 0.5);
}

.input-group.no-border .form-control:focus+.input-group-text {
  background-color: #f96332(222, 222, 222, 0.5);
}

.input-group.no-border .input-group-prepend .input-group-text {
  background-color: #f96332(222, 222, 222, 0.3);
  border: none;
  border-left: transparent !important;
}

.input-group-text {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 30px;
  color: #555555;
  -webkit-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.input-group-text+.form-control,
.input-group-text~.form-control {
  padding: -0.5rem 0.7rem;
  padding-left: 18px;
}

.input-group-text i {
  width: 17px;
}

.input-group {
  margin-bottom: 10px;
  position: relative;
}

.input-group[disabled] .input-group-text {
  background-color: #E3E3E3;
}

.input-group .input-group-prepend {
  margin-right: 0;
}

.input-group .input-group-prepend .input-group-text {
  border-left: 1px solid #E3E3E3;
}

.input-group .form-control:first-child,
.input-group-text:first-child {
  border-right: 0 none;
}

.input-group .form-control:last-child,
.input-group-text:last-child {
  border-left: 0 none;
}

.form-control[disabled],
.form-control[readonly] {
  background-color: #E3E3E3;
  color: #888888;
  cursor: not-allowed;
}

button,
input {
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
}

h6 {
  font-weight: 400;
}

a {
  color: #f96332;
}

a:hover,
a:focus {
  color: #f96332;
}

h6,
.h6 {
  font-size: 0.9em;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  line-height: 1.61em;
  font-weight: 300;
  font-size: 1.2em;
}

.title {
  font-weight: 700;
  padding-top: 30px;
}

body {
  color: #2c2c2c;
  font-size: 14px;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  overflow-x: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.card a {
  -webkit-transition: all 150ms ease 0s;
  -moz-transition: all 150ms ease 0s;
  -o-transition: all 150ms ease 0s;
  -ms-transition: all 150ms ease 0s;
  transition: all 150ms ease 0s;
}
.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0,0,0,0);
  border-top: 1px solid rgba(0,0,0,0);
}

.category {
  text-transform: capitalize;
  font-weight: 400;
  color: #9A9A9A;
}

.noUi-target {
  background-color: rgba(182, 182, 182, 0.3);
  border-radius: 3px;
}

.noUi-horizontal {
  height: 1px;
}

.noUi-target {
  position: relative;
  direction: ltr;
}

.noUi-base, .noUi-connects {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.noUi-connects {
  border-radius: 3px;
}

.noUi-connects {
  overflow: hidden;
  z-index: 0;
}




@font-face {
  font-family: 'Nucleo Outline';
  src: url("../fonts/nucleo-outline.eot");
  src: url("../fonts/nucleo-outline.eot") format("embedded-opentype"), url("../fonts/nucleo-outline.woff2") format("woff2"), url("../fonts/nucleo-outline.woff") format("woff"), url("../fonts/nucleo-outline.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.now-ui-icons {
  display: inline-block;
  font: normal normal normal 14px/1 'Nucleo Outline';
  font-size: inherit;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@-webkit-keyframes nc-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes nc-icon-spin {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes nc-icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media (min-width: 1200px)
.container {
    max-width: 1140px;
}



.now-ui-icons.text_caps-small:before {
  content: "\ea1b";
}

.now-ui-icons.users_circle-08:before {
  content: "\ec6e";
}

.now-ui-icons.location_bookmark:before {
  content: "\ea47";

}

.now-ui-icons.design-2_ruler-pencil:before {
  content: "\ea48";
}

.logo-container {
  overflow: hidden;
  margin: 0 auto;
  border-radius: 0%;
  border: 1px solid transparent;
}

.bg-primary {
  background-color: #f96332 !important;
}


.page-header {
  min-height: 100vh;
  max-height: 999px;
  padding: 0;
  color: #FFFFFF;
  position: relative;
  overflow: hidden;
}

.page-header>.content {
  margin-top: 12%;
  text-align: center;
  margin-bottom: 50px;
}

.page-header:before {
  background-color: rgba(0, 0, 0, 0.3);
}

.page-header>.container {
  z-index: 2;
  padding-top: 12vh;
  padding-bottom: 40px;
}

.page-header .page-header-image {
  position: absolute;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.page-header footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.page-header .container {
  height: 100%;
  z-index: 1;
  text-align: center;
  position: relative;
}

.page-header:after,
.page-header:before {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  left: 0;
  top: 0;
  content: "";
}

.clear-filter:after,
.clear-filter:before {
  display: none;
}

.clear-filter[filter-color="green"] {
  background: rgba(44, 44, 44, 0.2);
  background: -webkit-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(255, 95, 0, 0.6));
  background: -o-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(255, 95, 0, 0.6));
  background: -moz-linear-gradient(90deg, rgba(44, 44, 44, 0.2), rgba(255, 95, 0, 0.6));
  background: linear-gradient(0deg, rgba(44, 44, 44, 0.2), #49505745);
}

.button-dropdown {
  display: none;
}




.dropdown-menu .dropdown-item {
  color: inherit;
  display: flex;
  align-items: center;
}

.dropdown-menu .dropdown-item i {
  margin-right: 5px;
  position: relative;
  top: 1px;
}


@media (max-width: 768px) {
  .btn {
    margin-bottom: 10px;
  }
}
@media (min-width: 768px){
    .col-md-4 {
      -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
      max-width: 33.333333%;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}
.nav-link:after {
  background-color: rgba(33, 37, 41, 0.533);
}
.nav-link:not(.btn):hover,
.nav-link:not(.btn):active,
.nav-link:not(.btn):focus {
  background-color:rgba(33, 37, 41, 0.533);
    border-radius: 0.1875rem;
    border: solid 1px;
    border-color: #f96332;
}
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
}

@font-face {
  font-family: 'Nucleo Outline';
  src: url("https://github.com/creativetimofficial/now-ui-kit/blob/master/assets/fonts/nucleo-outline.eot");
  src: url("https://github.com/creativetimofficial/now-ui-kit/blob/master/assets/fonts/nucleo-outline.eot") format("embedded-opentype");
  src: url("https://raw.githack.com/creativetimofficial/now-ui-kit/master/assets/fonts/nucleo-outline.woff2");
  font-weight: normal;
  font-style: normal;

}

.now-ui-icons {
  display: inline-block;
  font: normal normal normal 14px/1 'Nucleo Outline';
  font-size: inherit;
  text-transform: none;
  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}